html, body {
  padding: 0;
  margin: 0;
  font-family: 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 500;
}

p {
  font-size: 1.2em;
  line-height: 1.6em;
}

div.jumbotron {
  padding: none;
  background-color: #FFDC00;
  background-image: url("../media/carson-bot-logo-bw.png");
  background-size: auto 100%;
  background-position: 5% 0%;
  background-repeat: no-repeat;
}

div.long-list {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  column-fill: auto;
}

div.long-list div {
  break-inside: avoid-column;
}

div.welcome-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}

div.inside-wrapper {
  text-align: center;
  width: 100%;
  margin: 0;
}

div.inside-header {
  width: 70%;
  margin: 1% auto;
  text-align: center;
  color: #FFFFFF;
  padding: 2%;
  display: block;
}

div.inside-content {
  width: 100%;
  text-align: center;
  margin: auto;
}

div.inside-nav {
  width: 80%;
  margin: 1% auto;
}

div.inside-nav ul {
  text-align: center;
  margin: auto;
}

div.inside-nav li {
  background-color: #7FDBFF;
  color: #FFFFFF;
  text-shadow: 1px 1px #AAA;
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin: 2px;
}

div.inside-nav li:hover {
  background-color: #F012BE;
}

div.inside-nav a {
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
}

div.info-box {
  text-align: left;
  padding: 2%;
  border-right: 1px solid #e9ecef;
}

div.info-box h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 2%;
}

div.info-box p, li {
  font-size: 1em;
}

div.info-box a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

div.info-box a:hover {
  color: #F012BE;
  text-decoration: underline;
}

div.info-box span.location {
  color: #AAA;
  font-size: 0.8em;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  top: -4px;
}

label.radio_label span.form-status {
  color: #AAA;
  font-size: 0.8em;
  font-weight: 300;
  text-transform: uppercase;
}

div.info-box p.category {
  background-color: #DDD;
  padding: 2px 4px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

div.info-box p.category a:hover {
  color: #FFFFFF;
}

div.display-row {
  margin: 1% 0;
  border-bottom: 1px solid #DDD;
  padding: 2% 0;
}

div.display-row:last-of-type {
  margin-bottom: 5%;
}

div.display-label {
  padding: 0;
  letter-spacing: 1px;
  font-weight: 600;
}

span.required {
  color: #F012BE;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 0.9em;
}

div.form-group input[type^="text"],
div.form-group input[type^="number"],
div.form-group input[type^="date"],
div.form-group select {
  width: 70%;
}

div.form-group input[type^="submit"] {
  width: 40%;
  margin: auto;
  background-color: #7FDBFF;
  border: none;
  font-weight: bold;
  padding: 0.8%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px solid #AAA;
  letter-spacing: 1px;
}

div.form-group input[type^="submit"]:hover {
  background-color: #F012BE;
  text-decoration: none;
  text-shadow: none;
}

label.radio_label {
  padding-right: 2%;
}

div.col-right {
  border: none;
}

div.welcome-header img {
  width: 100%;
  height: 100%;
}

div.welcome-header {
  width: 100%;
  text-align: center;
}

div.welcome-text, div.info {
  margin-top: 1%;
  padding: 2%;
  width: 100%;
  text-align: center;
  background-color: #FFDC00;
  color: #FFFFFF;
  display: block;
}

div.info {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.9em;
}

div.info label{
  text-shadow: 1px 1px #AAA;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

div.info input {
  width: 50%;
  padding: 0.8%;
  background-color: #7FDBFF;
  color: #FFFFFF;
  text-shadow: 1px 1px #AAA;
  border: none;
  text-align: center;
  letter-spacing: 1px;
}

p.bottom-link {
  text-align: center;
  font-size: 1.1em;
}

a#bottom-link, a#bottom-link:visited {
  color: #FFF;
  text-shadow: 1px solid #DDD;
}

a#bottom-link:hover {
  color: #F012BE;
  text-decoration: underline;
  text-shadow: none;
}

div.menu {
  width: 50%;
  margin: 1% auto;
  text-transform: uppercase;
  padding: 0.8%;
  background-color: #7FDBFF;
  color: #FFFFFF;
  text-shadow: 1px 1px #AAA;
}

div.menu:hover {
  background-color: #F012BE;
  text-decoration: none;
  text-shadow: none;
}

div.menu a {
  text-decoration: none;
  color: #FFF;
}

input.submit {
  font-weight: bold;
  text-transform: uppercase;
}

input.submit:hover {
  background-color: #F012BE;
  text-decoration: none;
  text-shadow: none;
}

div.welcome-text a {
  background-color: #7FDBFF;
  padding: 0.8%;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px #AAA;
  font-size: 0.9em;
}

div.welcome-text a:hover {
  background-color: #F012BE;
  text-decoration: none;
  text-shadow: none;
}

div.welcome-text h1, div.info h1, div.inside-header h1 {
  font-size: 280%;
  text-shadow: 1px 1px #AAA;
  padding: 0.8%;
  font-weight: 600;
}

div.welcome-text h3, div.info h3, div.inside-header h3 {
  font-size: 180%;
  text-shadow: 1px 1px #AAA;
  padding: 2%;
}

dif.info h1 {
  text-align: center;
}

div.welcome-text p, div.info p {
  padding: 0.8%;
}
