<div class="container info">
  <h1>Create a New Account</h1>
  <% if flash.has?(:message) %>
    <p><em><%= flash[:message] %></em></p>
  <% end %>
  <form action="/users/signup" method="post">
    <p><label id="user_name">Your Name:</label><br>
      <input type="text" name="user[name]"></p>

    <p><label id="user_email">Your Email:</label><br>
      <input type="email" name="user[email]"></p>

    <p><label id="user_password">Choose a Secure Password:</label><br>
      <input type="password" name="user[password]"></p>

    <p><input class="submit" type="submit" value="Sign Up"></p>
  </form>
  <p class="bottom-link"><a href="/users/login" id="bottom-link">Already have an account? Log in here!</a></p>
</div>
