<div class="container inside-wrapper">
  <div class="row inside-header">
    <h1>Welcome, <%= @user.name %>!</h1>
  </div>

  <div class="row inside-nav">
    <%= erb :nav %>
  </div>

  <div class="row inside-content">
    <div class="col-sm info-box">
      First col here
    </div>
    <div class="col-sm info-box">
      Second col here
    </div>
    <div class="col-sm info-box">
      Third col here
    </div>
  </div>
<div>
