<div class="container info">
  <h1>Log In</h1>
  <form action="/users/login" method="post">
      <p><label for="user_email">Enter Email:</label><br>
      <input id="user_email" type="text" name="user[email]"></p>
      <p><label for="user_password">Enter Password:</label><br>
      <input id="user_password" type="password" name="user[password]"><br></p>
      <p><input class="submit" type="submit" value="Log In"></p>
  </form>
</div>
