
<div class="container welcome-wrapper">
  <div class="row welcome-header">
    <img src="media/carson-bot-logo-light.png" alt="Carson Bot">
  </div>

  <div class="row welcome-text">
    <h1>Let the butler take care of it.</h1>
    <p><a href="/users/signup">Sign Up</a> or <a href="/users/login">Log In</a></p>
  </div>
</div>
