<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/users/edit">Edit Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/items">View Home Inventory</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/categories">By Category</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/locations">By Location</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Your Lists</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/logout">Log Out</a>
  </li>
</ul>
