<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/users">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/items">View Home Inventory</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/items/create">Add New Item</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Your Lists</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/edit">Your Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/logout">Log Out</a>
  </li>
</ul>
