<h4>Your Household</h4>
<p>
  <a href="/items">View All Items</a><br>
  <a href="/locations">View by Location</a><br>
  <a href="/categories">View by Category</a><br>
  <a href="/lists">View All Lists</a><br><br>
  <a href="/items/new">Add a New Item</a><br>
  <a href="/lists/new">Create a New List</a>
</p>
